:root {
    --color-SpaceCadet: #2b2d42;
    --color-CoolGray: #8d99ae;
    --color-AFWhite: #edf2f4;
    --color-Red: #ef233c;
    --color-FERed: #d90429;
}

h1 {
    font-family: "Hanalei Fill", serif;   
    font-size: 50px; 
    padding-bottom: 10px;  
    text-align: center;
    color: var(--color-FERed);
    margin: 0;
    background-color: var(--color-SpaceCadet);
}

.nav-brand {
    font-size: 33px;text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
}

.nav-links {
    padding: 75px;
    text-align: center;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-link {
    color: var(--color-SpaceCadet);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.my-link:hover {
    color: var(--color-AFWhite);
    transform: scale(1.1);
    cursor: pointer;
}

nav {
    padding: 1rem;
    background-color: var(--color-CoolGray);
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}

main {
    background-color:var(--color-SpaceCadet);
    color: var(--color-FERed);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 75px;
}
 
button {
    border-radius: 7%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--color-SpaceCadet);
    color: var(--color-FERed);
    cursor: pointer;
}


footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color:var(--color-CoolGray);
    color: var(--color-SpaceCadet);
    height: fit-content;
    padding: 10px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 2fr .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }


    .flash-message {
        padding: 10px 20px;
        border-radius: 5px;
        color:var(--color-FERed);
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        text-align: center;
        width: 300px;
        margin: 10px auto;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    
    .success {
        background-color: #4CAF50; 
    }
    
    .error {
        background-color: #F44336; 
    }
    
    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    .flash-message {
        animation: fadeOut 5s forwards;
    }

