{{define "base"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charst='utf-8'>
    <title>{{template "title" .}} - Mordezzan</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>Mordezzan</a></h1>
    </header>
    {{template "nav" .}}
    <main>
      {{template "main" .}}
    </main>
    <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
  </body>
</html>
{{end}}
